# Игнорировать виртуальные окружения
myenv/
venv/
env/
.venv/

# Игнорировать скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы, сгенерированные инструментами разработки
.vscode/
.idea/
*.suo
*.ntvs*
*.ncrunch*
*.pytest_cache/
.DS_Store

# Игнорировать файлы зависимостей
node_modules/

# Игнорировать файлы конфигурации и ключи
.env
*.key
*.pem

# Игнорировать лог-файлы
logs/
*.log

# Игнорировать временные файлы
tmp/
*.tmp

# Игнорировать файлы, сгенерированные системой сборки
build/
dist/

# Игнорировать файлы, сгенерированные Jupyter Notebook
.ipynb_checkpoints/

# Игнорировать файлы, сгенерированные инструментами анализа кода
.mypy_cache/
.pylint.d/

# Игнорировать файлы, сгенерированные инструментами тестирования
.coverage/
htmlcov/
.tox/

# Игнорировать файлы, сгенерированные Docker
.dockerignore
Dockerfile.*

# Игнорировать файлы, сгенерированные инструментами CI/CD
.github/
.gitlab-ci.yml
.circleci/
